
html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
	background: #e0eafc;
}

.dashboard-container {
	box-sizing: border-box;
	padding: 0 !important;
}

