.expenseDrawer {
  width: 400px;
  padding: 32px 24px;
}
.expenseDrawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.expenseDrawerTitle {
  font-weight: 600;
}
.expenseForm {
  margin-top: 8px;
}
.expenseCheckbox {
  margin-top: 16px;
}